body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.nav
{
  background-color: rgb(245, 64, 64);
  height: 40px;
  padding: 5px;
  position: sticky;
  display: flex;
  align-items: center;
  gap:10%;   

}
span{
  
  width: 150px;
  
}
.stu
 {
  margin-left: 1%;
  font-size: 20px;
}
p{
  display: flex;
  height:6%;
  width: 50%;
}
.b_fav
{
  padding: 2%;
  background-color: rgb(12, 11, 11);
  border: none;
  color: white;
  border-radius: 15px;
  margin-left: 2%;
  cursor: pointer;
}
.b_fav:disabled
{
  background-color:  rgb(44, 41, 41);
  cursor:not-allowed;
}
.stu__fav
 {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  }
  